<div class=" content">
  <div class=" row">
    <div class=" col-12">
      <app-alert></app-alert>
      <div class=" card card-chart">
        <table class="table">
          <thead>
          <tr>
            <th class="text-center">#</th>
            <th>Title</th>
            <th>Web address</th>
            <th>Login</th>
            <th>Password</th>
            <th>Shared to</th>
            <th>Share date</th>
            <th class="text-right">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let entry of sharedPasswords">
            <td class="text-center"></td>
            <td>{{entry.title}}</td>
            <td>{{entry.webAddress}}</td>
            <td>{{entry.login}}</td>
            <td>{{entry.password}}</td>
            <td>{{entry.sharedToUserEmail}}</td>
            <td>{{entry.creationDate}}</td>
            <td class="td-actions text-right">
              <button type="button" rel="tooltip" class="btn btn-danger btn-link btn-icon btn-sm" (click)="removeSharing(entry.id)">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
              <button type="button" rel="tooltip" class="btn btn-danger btn-link btn-icon btn-sm">
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
