<div class=" content">
  <div class="justify-content-center row">
    <div class="justify-content-center col-md-8">
      <form [formGroup]="userPasswordFormGroup" (ngSubmit)="changePassword()">
        <div formGroupName="userDetails" class="justify-content-center card">
          <div class="justify-content-center card-header"><h5 class="justify-content-center title">Change password</h5></div>
          <div class=" card-body">
            <div class="justify-content-center row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> Login </label>
                  <input class=" form-control" disabled placeholder="Password" type="text" value="{{user.login}}"
                         formControlName="login"/>
                </div>
              </div>
            </div>
            <div class="justify-content-center row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> Current Password </label>
                  <input class=" form-control" placeholder="Password" type="password" value=""
                         formControlName="currentPassword"/>
                </div>
              </div>
            </div>
            <div class="justify-content-center row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> New Password </label>
                  <input class=" form-control" placeholder="Password" type="password" value=""
                         formControlName="newPassword"/>
                </div>
              </div>
            </div>
            <div class="justify-content-center row">
              <div class=" col-md-2 pr-md-1">
                <select formControlName="passwordType" *ngIf="passwordTypes?.length > 0">
                  <option *ngFor="let passwordType of passwordTypes" [ngValue]="passwordType.name">
                    {{ passwordType?.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class=" card-footer">
              <button class=" btn btn-fill btn-info" type="submit">Change</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
